/// Backgrounds
.bg-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-auth-1 {
  background-image: url("./../assets/images/auth-bg-1.png");
}

.bg-auth-2 {
  background-image: url("./../assets/images/auth-bg-2.png");
}

.bg-auth-3 {
  background-image: url("./../assets/images/auth-bg-3.png");
}

.bg-landing-1 {
  background-image: url("./../assets/images/landing-bg-1.png");
}

.bg-landing-2 {
  background-image: url("./../assets/images/landing-bg-2.png");
}

.bg-landing-3 {
  background-image: url("./../assets/images/landing-bg-3.png");
}

.bg-landing-4 {
  background-image: url("./../assets/images/landing-bg-4.png");
}

.bg-landing-5 {
  background-image: url("./../assets/images/landing-bg-5.png");
}
