/// Forms

.form-field {
  --form-field-width: 200ch;
  --form-field-height: var(--fz-400);
  --form-field-br: 0;
  --form-field-clr: var(--clr-gray-800);
  --form-field-bg-clr: var(--clr-gray-50);
  --form-field-border-clr: var(--clr-gray-900);
  --form-field-border: thin solid var(--form-field-border-clr);
  --form-field-border-t: var(--form-field-border);
  --form-field-border-r: var(--form-field-border);
  --form-field-border-l: var(--form-field-border);
  --form-field-border-b: var(--form-field-border);

  display: block;
  width: 100%;
  max-width: var(--form-field-width);
  min-height: var(--form-field-height);
  color: var(--form-field-clr);
  background-color: var(--form-field-bg-clr);
  border-radius: var(--form-field-br);
  border-top: var(--form-field-border-t);
  border-right: var(--form-field-border-r);
  border-left: var(--form-field-border-l);
  border-bottom: var(--form-field-border-b);
}

input.form-field {
  --form-field-bg-clr: transparent;

  --form-field-border-t: none;
  --form-field-border-r: none;
  --form-field-border-l: none;
}

input.form-field[type="radio"],
input.form-field[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

input.form-field[type="radio"] ~ .form-radio {
  --form-radio-size: var(--fz-400);

  --form-radio-bg-clr: var(--clr-gray-50);
  --form-radio-border-clr: var(--clr-gray-900);
  --form-radio-border: thin solid var(--form-radio-border-clr);

  --form-radio-indicator-size: 0.2em;
  --form-radio-indicator-clr: var(--clr-gray-50);
  --form-radio-indicator-checked-clr: var(--clr-gray-900);

  display: block;
  width: var(--form-radio-size);
  height: var(--form-radio-size);
  background-color: var(--form-radio-bg-clr);
  border: var(--form-radio-border);
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: var(--form-radio-indicator-size);
    background-color: var(--form-radio-indicator-clr);
    border-radius: 50%;
  }
}

input.form-field[type="radio"]:checked ~ .form-radio::before {
  background-color: var(--form-radio-indicator-checked-clr);
}

select.form-field {
  --form-field-border: none;
}

textarea.form-field {
  --form-field-border: thin solid var(--form-field-border-clr);
}

.form-radio-check-wrapper {
  --flow-spacer: var(--size-f-0);
  --form-radio-check-wrapper-gap: var(--size-v-100);

  display: flex;
  align-items: center;
  gap: var(--form-radio-check-wrapper-gap);
}

.group-radio-check-wrapper {
  --flow-spacer: var(--size-f-0);
  --group-radio-check-wrapper-gap: var(--size-v-200);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--group-radio-check-wrapper-gap);
}

.form-label {
  --form-label-clr: var(--clr-gray-800);
  --form-label-bg-clr: var(--clr-gray-200);
  --form-label-padding: var(--size-v-200);
  --form-label-width: 15ch;

  color: var(--form-label-clr);
  background-color: var(--form-label-bg-clr);
  min-width: var(--form-label-width);
  display: block;
  padding-top: var(--form-label-padding);
  padding-right: var(--form-label-padding);
  padding-bottom: var(--form-label-padding);
  padding-left: var(--form-label-padding);
}

.form-field-wrapper {
  --form-field-wrapper-bg-clr: var(--clr-gray-100);
  --form-field-wrapper-padding: var(--size-v-200);

  background-color: var(--form-field-wrapper-bg-clr);
  padding-top: var(--form-field-wrapper-padding);
  padding-right: var(--form-field-wrapper-padding);
  padding-bottom: var(--form-field-wrapper-padding);
  padding-left: var(--form-field-wrapper-padding);
}

.form-group {
  --form-group-label-clr: var(--clr-gray-800);
  --form-group-label-bg-clr: var(--clr-gray-200);
  --form-group-label-width: 15ch;

  --form-group-field-wrapper-bg-clr: var(--clr-gray-100);
  --form-group-padding: var(--size-v-200);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;

  .form-label {
    --form-label-clr: var(--form-group-label-clr);
    --form-label-bg-clr: var(--form-group-label-bg-clr);
    --form-label-padding: var(--form-group-padding);
    --form-label-width: var(--form-group-label-width);
  }

  .form-field-wrapper {
    --form-field-wrapper-bg-clr: var(--form-group-field-wrapper-bg-clr);
    --form-field-wrapper-padding: var(--form-group-padding);
  }

  @each $key, $value in $colors {
    @each $tint-key, $tint-value in $value {
      &-#{$key} {
        --form-group-label-clr: var(--clr-gray-800);
        --form-group-label-bg-clr: var(--clr-#{$key}-300);

        --form-group-field-wrapper-bg-clr: var(--clr-#{$key}-200);
      }
    }
  }
}

@media screen and (min-width: breakpoint("md")) {
  .form-group {
    grid-template-columns: var(--form-group-label-width) auto;
    grid-template-rows: auto;
  }
}
