/// Maps

/// Palatte

/// Colors
$colors: (
  "primary": (
    "50": #e8edf2,
    "100": #d2dce6,
    "200": #a4b8cc,
    "300": #7795b3,
    "400": #497199,
    "500": #1c4e80,
    "600": #163e66,
    "700": #112f4d,
    "800": #0b1f33,
    "900": #06101a,
  ),
  "secondary": (
    "50": #f2f4f5,
    "100": #e5e9eb,
    "200": #cbd3d7,
    "300": #b2bcc2,
    "400": #98a6ae,
    "500": #7e909a,
    "600": #65737b,
    "700": #4c565c,
    "800": #323a3e,
    "900": #191d1f,
  ),
  "danger": (
    "50": #faeaea,
    "100": #f5d5d5,
    "200": #ebaaaa,
    "300": #e08080,
    "400": #d65555,
    "500": #cc2b2b,
    "600": #a32222,
    "700": #7a1a1a,
    "800": #521111,
    "900": #140404,
  ),
  "success": (
    "50": #e8f5e9,
    "100": #d2ebd3,
    "200": #a5d6a8,
    "300": #77c27c,
    "400": #4aad51,
    "500": #1d9925,
    "600": #177a1e,
    "700": #115c16,
    "800": #0c3d0f,
    "900": #061f07,
  ),
  "accent-1": (
    "50": #f7fcfd,
    "100": #eef9fa,
    "200": #ddf3f5,
    "300": #cdecf0,
    "400": #bce6eb,
    "500": #abe0e6,
    "600": #89b3b8,
    "700": #67868a,
    "800": #323a3e,
    "900": #191d1f,
  ),
  "accent-2": (
    "50": #e6f3fa,
    "100": #cce8f5,
    "200": #99d1eb,
    "300": #66b9e0,
    "400": #33a2d6,
    "500": #008bcc,
    "600": #006fa3,
    "700": #00537a,
    "800": #003852,
    "900": #001c29,
  ),
  "accent-3": (
    "50": #fdf0ed,
    "100": #fae1da,
    "200": #f5c3b5,
    "300": #f0a490,
    "400": #eb866b,
    "500": #e66846,
    "600": #b85338,
    "700": #8a3e2a,
    "800": #5c2a1c,
    "900": #2e150e,
  ),
  "gray": (
    "50": #f1f1f1,
    "100": #e6e6e6,
    "200": #cccccc,
    "300": #b3b3b3,
    "400": #999999,
    "500": #808080,
    "600": #666666,
    "700": #4d4d4d,
    "800": #333333,
    "900": #202020,
  ),
);

/// Fonts
/// Fonts - Font Families
$font-families: (
  "primary": #{"Inter",
  Arial,
  sans-serif},
  "secondary": #{"Inconsolata",
  "Courier New",
  monospace},
);

/// Fonts - Font Sizes
$font-sizes: (
  // 8px / 10px
  "100": css-clamp("0.5rem, 1rem + 1vw, 0.625rem"),
  // 10px / 12px
  "200": css-clamp("0.625rem, 1rem + 1vw, 0.75rem"),
  // 14px / 16px
  "300": css-clamp("0.875rem, 1rem + 2vw, 1rem"),
  // 16px / 20px
  "400": css-clamp("1rem, 1rem + 2vw, 2rem"),
  // 20px / 40px
  "500": css-clamp("1.25rem, 1rem + 2vw, 2.5rem"),
  // 24px / 60px
  "600": css-clamp("1.5rem, 1rem + 3vw, 3.75rem"),
  // 30px / 80px
  "700": css-clamp("1.875rem, 1rem + 3vw, 5rem"),
  // 36px / 100px
  "800": css-clamp("2.25rem, 1rem + 4vw, 6.25rem"),
  // 40px / 130px
  "900": css-clamp("2.5rem, 1rem + 4vw, 8.125rem")
);

/// Fonts - Font Weights
$font-weights: (
  "100": 100,
  "thin": 100,
  "200": 200,
  "extra-light": 200,
  "300": 300,
  "light": 300,
  "400": 400,
  "regular": 400,
  "500": 500,
  "medium": 500,
  "600": 600,
  "semibold": 600,
  "700": 700,
  "bold": 700,
  "800": 800,
  "extrabold": 800,
  "900": 900,
  "black": 900,
);

/// Fonts - Font Styles
$font-styles: (
  "normal": normal,
  "italic": italic,
  "oblique": italic,
);

/// Text
/// Text - Text Decorations
$text-decorations: (
  "none": none,
  "underline": underline,
);

/// Text - Text Alignments
$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
);

/// Text - Text Transforms
$text-transforms: (
  "none": none,
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
);

/// Breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 578px,
  "md": 768px,
  "lg": 844px,
  "xl": 992px,
  "xxl": 1200px,
  "xxxl": 1400px,
);

/// Spacers
/// Spacers - Direction
$spacer-directions: (
  "all": "all",
  "block": "block",
  "inline": "inline",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Spacers - Fixed Spacer
$fixed-unit: 1rem;
$fixed-spacers: (
  "0": $fixed-unit * 0,
  "100": $fixed-unit * 0.1,
  "200": $fixed-unit * 0.25,
  "300": $fixed-unit * 0.5,
  "400": $fixed-unit * 1,
  "500": $fixed-unit * 2,
  "600": $fixed-unit * 5,
  "700": $fixed-unit * 8,
  "800": $fixed-unit * 12,
  "900": $fixed-unit * 15,
  "1000": $fixed-unit * 18,
  "auto": auto,
);

/// Spacers - Variable Spacer
$variable-unit: 1em;
$variable-spacers: (
  "0": $variable-unit * 0,
  "100": $variable-unit * 0.1,
  "200": $variable-unit * 0.25,
  "300": $variable-unit * 0.5,
  "400": $variable-unit * 1,
  "500": $variable-unit * 2,
  "600": $variable-unit * 5,
  "700": $variable-unit * 8,
  "800": $variable-unit * 12,
  "900": $variable-unit * 15,
  "1000": $variable-unit * 18,
  "auto": auto,
);

/// Displays
$displays: (
  "none": none,
  "inline": inline,
  "block": block,
  "inline-block": inline-block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "inline-grid": inline-grid,
);

/// Flex/Grid
/// Flex/Grid - Align Items
$grid-flex-align-items: (
  "inital": inital,
  "inherit": inherit,
  "normal": normal,
  "start": start,
  "center": center,
  "end": end,
  "stretch": stretch,
  "baseline": baseline,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Contents
$flex-justify-contents: (
  "inital": inital,
  "inherit": inherit,
  "center": center,
  "space-between": space-between,
  "space-around": space-around,
  "space-evenly": space-evenly,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Items
$grid-justify-items: (
  "inital": inital,
  "inherit": inherit,
  "legacy": legacy,
  "normal": normal,
  "stretch": stretch,
  "start": start,
  "left": left,
  "center": center,
  "right": right,
  "end": end,
  "overflow-alignment": overflow-alignment,
  "baseline-alignment": baseline-alignment,
);

/// Flex/Grid - Flex Wraps
$flex-wraps: (
  "nowrap": nowrap,
  "wrap": wrap,
  "reverse": wrap-reverse,
);

/// Box Shadows
/// Box Shadows - Directions
$box-shadow-directions: (
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Box Shadows - Fixed Weights
$box-shadow-f-weights: (
  "50": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Box Shadows - Variable Weights
$box-shadow-v-weights: (
  "50": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);

/// Border Radius
/// Border Radius - Directions
$border-radius-directions: (
  "all": "all",
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Border
/// Border - Directions
$border-directions: (
  "all": "all",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Border - Styles
$border-styles: (
  "none": none,
  "hidden": hidden,
  "dotted": dotted,
  "dashed": dashed,
  "solid": solid,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
);

/// Border - Fixed Weights
$border-f-weights: (
  "50": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Border - Variable Weights
$border-v-weights: (
  "50": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);
