/// Template
/// These styles are specific to the template. They're not used for the actual project.
.template-primary-header {
  display: flex;
  align-items: top;
  justify-content: space-between;
  border-bottom: thin solid var(--clr-gray-500);
}
