/// Typography

/// Emphasis
strong,
b {
  font-weight: var(--fw-bold);
}

em {
  font-style: italic;
}

code {
  font-family: css-function("clamp", font-family("secondary"));
}

/// Links
a,
.a {
  color: var(--clr-primary-500);
  text-decoration: none;

  &:hover {
    color: var(--clr-gray-500);
  }

  @each $key, $value in $colors {
    &.link-#{$key} {
      color: var(--clr-#{$key}-500);

      &:hover {
        color: var(--clr-#{$key}-700);
      }
    }
  }
}
